<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.mybatis.example.EmployeeMapper">

    <!--
    namespace:名称空间
    id 唯一标识
    resultType 范围值类型
    -->

    <select id="selectEmp" resultType="com.wondertek.mybatis.domain.Employee">
        select id,last_name lastName,gender,email from tb_employee where id = #{id}
    </select>


</mapper>